@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-1 blockquote > header{
	font-variant: small-caps;
	text-align: center;
}

#chapter-1 blockquote > header > p > i{
	font-variant: normal;
}

#chapter-1 blockquote header p[epub|type~="se:letter.dateline"]{
	font-variant: normal;
	text-align: right;
}

#chapter-1 blockquote footer{
	margin-top: 1em;
	text-align: right;
}

#chapter-1 blockquote footer span[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
