@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-1 > blockquote > header{
	text-align: center;
}

#chapter-1 > blockquote > header > p + p{
	margin-top: 1em;
}

#chapter-1 > blockquote > header > p:last-of-type{
	text-align: right;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
